{% extends 'app/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<body>
    <div class="about-section">
  <h1>About Us Page</h1>
  <p>We are ShoppingX team where we provide high quality product and service.</p>
  <p>We are here to serve you with my best team.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" style="text-align:center">
  <div class="column">
    <div class="card">
      <img src="/media/productimg/coat_pant_vb.jpeg" alt="Jane" style="width:100%" height="480">
      <div class="container">
        <h2>Vaibhav Bajpai</h2>
        <p class="title">Managing Director</p>
        <p>We provide best in the world.</p>
        <p>vaibhav@gmail.com</p>
        <p><button class="button" href="https://www.linkedin.com/in/vaibhav-bajpai-b2897517a/">Contact</button></p>
      </div>
    </div>
  </div>
    <div class="column">
    <div class="card">
      <img src="/media/productimg/simon.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Simon Mangos</h2>
        <p class="title">CEO</p>
        <p>We provide best in the world.</p>
        <p>simon@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
    <div class="column">
    <div class="card">
      <img src="/media/productimg/neeraj.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Neeraj Wasan</h2>
        <p class="title">CTO</p>
        <p>We provide best in the world.</p>
        <p>neeraj@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row" style="text-align:center">

</div>
</body>
{% endblock main-content %}